@model IEnumerable<ManagingPersonalContacts.Models.Address>

@{
    ViewBag.Title = "Addresses";
}


<div id="divButtonAddress" style="display:block">
    <br />
    <a class="btn btn-default" onclick="toggleDivAddress(true);" title="Open records">
        @String.Format("({0})", @Model.Count()) &raquo;
    </a>
</div>

<div id="divTableAddress" style="display:none">
    <br />
    <a class="btn btn-default" onclick="toggleDivAddress(true);" title="Close records">
        @String.Format("({0})", @Model.Count()) &laquo;
    </a>
    |
    <a class="btn btn-default" href="~/Addresses/Create/?PcID=@Model.FirstOrDefault().PersonalContactID" title="Create New">
        Create New
    </a>
    <p>
        @*
            @Html.ActionLink("Create New", "Create")
        *@
    </p>

    <table class="table">
        <tr class="tline">
            <th>
                @Html.DisplayNameFor(model => model.PersonalContact.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entrance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Floor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Default)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalContact.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entrance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apartment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Default)
            </td>
            <td>
                @*
                    @Html.ActionLink("Edit", "Edit", new { id = item.AddressID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.AddressID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.AddressID })
                *@
                <a class="btn btn-default" href="~/Addresses/Edit/@item.AddressID" title="Edit">
                    Edit
                </a>
                <a class="btn btn-default" href="~/Addresses/Details/@item.AddressID" title="Details">
                    Details
                </a>
                <a class="btn btn-default" href="~/Addresses/Delete/@item.AddressID" title="Delete">
                    Delete
                </a>
            </td>
        </tr>
        }

    </table>

    <hr />
</div>

<script>
    function toggleDivAddress() {

        var divButton = document.getElementById("divButtonAddress");
        divButton.style.display = (divButton.style.display == "block") ? "none" : "block";

        var divTable = document.getElementById("divTableAddress");
        divTable.style.display = (divTable.style.display == "block") ? "none" : "block";
    }
</script>



