@model ManagingPersonalContacts.Models.PhoneNumber

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Phone Number</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonalContact.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalContact.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Default)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Default)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PhoneNumberID }) |

    @*
    @Html.ActionLink("Back to List", "Index")
*@
    <a class="btn btn-default" href="~/PersonalContacts/Details/@Model.PersonalContactID" title="Back to Personal Contact">
        Close
    </a>
</p>
