@model ManagingPersonalContacts.Models.PhoneNumber

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
        <!-- Container for Default PersonalContactID -->
        @Html.HiddenFor(model => model.PersonalContactID)
    
    <div class="form-horizontal">
        <h4>Phone Number</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.PhoneNumberID)

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNo)
                @Html.ValidationMessageFor(model => model.PhoneNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Desc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Desc)
                @Html.ValidationMessageFor(model => model.Desc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Default, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Default)
                @Html.ValidationMessageFor(model => model.Default)
            </div>
        </div>

        @*
    <div class="form-group">
        @Html.LabelFor(model => model.PersonalContactID, "PersonalContactID", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("PersonalContactID", String.Empty)
            @Html.ValidationMessageFor(model => model.PersonalContactID)
        </div>
    </div>
*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @*
    @Html.ActionLink("Back to List", "Index")
*@
    <a class="btn btn-default" href="~/PersonalContacts/Details/@Model.PersonalContactID" title="Back to Personal Contact">
        Cancel
    </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
